<!Doctype html>
    <html>
        <head>
            <title>done</title>
        </head>
        <body>
            <h1>done </h1>
           
            <img src="<%- Imgpath %>">
            <a href="/upload">upload a picture here and I will guess your age</a>
        </body>
    </html>
    