<!Doctype html>
    <html>
        <head>
            <title>done</title>
        </head>
        <body>
            <h1>done </h1>
           
            <img src="<%- Imgpath %>">
            <br>
            Sorry I can't guess your age yet. Im still working on that.
            But I will be able to do it soon using <a href="https://www.microsoft.com/cognitive-services">this api</a>
        </body>
    </html>
    