<!Doctype html>
    <html>
        <head>
            <title><%= title %></title>
        </head>
        <body>
            <h1><%= title %> </h1>
           

            <p>upload a picture here and I will guess your age</p>
            <%- body %>
        </body>
    </html>
    